.chartGoal {
	box-shadow: 0px 2px 4px 0px #00000005;
	background-color: #ff0000;
	border-radius: 5px;
	height: 16.5rem;

}

.chartGoal__title{
	font-size: 1rem;
	line-height: 1.5rem;
	color: #FFFFFF;
	opacity: 0.5;
	margin-top: 30px;
	margin-left: 30px;
	position: absolute;
}

.chartGoal__tooltip{
	background-color: white;
	color: black;
	height: 1.5rem;
	width: 2.5rem;
	display: flex;
	justify-content: center;
	align-items: center;
	font-weight: 500;
	font-size: 0.5rem;
}

