.dashboard {
	margin: auto;
	padding: 5% 2%;
	overflow-y: scroll;
	height: 80vh;
}

.dashboard__macroList {
	display: flex;
	flex-direction: row;
	gap: 1.75rem;
	justify-content: center;
	flex-wrap: wrap;
}

@media screen and (min-width: 1275px) {
	.dashboard__macroList {
		flex-direction: column;
		gap: 2.5rem;
	}
}

.dashboard__data {
	display: flex;
	flex-direction: row;
	gap: 1.75rem;
	flex-wrap: wrap;
	justify-content: center;
}

.dashboard__charts {
	display: grid;
	grid-template-columns: repeat(3, 16rem);
	gap: 1.75rem;
}
