.header{
	display: flex; 
	flex-direction: row;
	align-items: center;
	gap: 5rem;
	background-color: black;
	height: 5.6rem;
	padding: 0 1rem ;
	box-shadow: 0px 4px 4px 0px #00000040;
}

.header__nav{
	display: flex;
	width: 100%;
	font-size: 1.5rem;
}

.nav__option{
	color: white;
	width: 100%;
	height: 100%;
	text-align: center;
	padding: 1rem;
}

.nav__option:hover{
	background-color: white;
	color: red;
}

.header__nav .active{
	color: red;
}