.home__content {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.home__title {
	font-size: 3rem;
	margin-bottom: 2.5rem;
}

.login {
	width: 46rem;
	height: 6rem;
	background: repeating-linear-gradient(-55deg, #fbfbfb, #fbfbfb 20px, #f5f5f5 20px, #f5f5f5 40px);
	margin-bottom: 2.5rem;
	position: relative;
	padding: 3rem;
	border-radius: 5px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	gap: 3rem;
}

.login__id,
.login__password {
	display: flex;
	gap: 1.75rem;
	white-space: nowrap;
	align-items: center;
	color: lightgray;
}

.id__title,
.password__title {
	width: 14rem;
}

.id__input,
.password__input {
	border: 0.1rem solid lightgray;
	width: 100%;
	padding: 0.75rem;
}

.login__wip {
	color: red;

	font-size: 3rem;
	position: absolute;
	top: 37%;
	left: 30%;
}

.usersList__title {
	font-size: 1.5rem;
	margin-bottom: 2.5rem;
	text-align: center;
}

.usersList__content {
	display: flex;
	gap: 1.75rem;
}

.usersList__name {
	background-color: red;
	color: white;
	width: 14rem;
	padding: 0.75rem;
	text-align: center;
	font-size: 1.25rem;
	border-radius: 5px;
}

.usersList__name:hover {
	opacity: 0.7;
}
