.sideNav {
	background-color: black;
	height: 100vh;
	width: 7.25rem;
	/* position: absolute;
	top: 0;
	z-index: -2; */
	display: grid;
	grid-template-rows: 30vh 1fr 1fr;
	justify-items: center;
}

.copyright__content {
	color: white;
	font-size: 0.75rem;
	line-height: 1.5rem;
	writing-mode: sideways-lr;
	margin-bottom: 3.75rem;
	text-align: center;
}

.sideNav__copyright {
	grid-area: 3 / 1 / 4 / 1;
	align-self: end;
}

.sideNav__sportsButton {
	display: flex;
	flex-direction: column;
	grid-area: 2 / 1 / 3 / 1;
}
